
/* HEADER NAV */
header {
    background-color: #1f2937;
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;    
}

nav {
    display: flex;
    flex-direction: column;
    flex: 0 0 1;
    /* border: 2px solid yellow; */
    width: 100%;
    padding-bottom: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* color: #e5e7eb;  */
    align-content: stretch;
    justify-content: space-between;
    
} 

.headLogo {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 10px;
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    padding-left: 35px;
    list-style-type: none;
}

.rightLinks {
    display: flex;
    flex-direction: row;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    gap: 10px;
    position: relative;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
    padding-right: 30px
}

a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero Text and Img */

 .headerImage {
    width: 400px;
    height: 300px;
    display: flex;
    border: 2px solid teal;
    margin-left: auto;
    margin-right: auto;

} 


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;
    /* border: 2px solid purple; */
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 50%;
}

.awesomePara {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}


.headerSignUp {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 10px;
    
}

.alignedHead {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px dotted red; */
    margin-bottom: 25px;
}

.alignHeadWithImg {
    display: flex;
    /* border: 2px solid orange; */
}
















/* Body Mid Page */

/* h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.imgGally {
    height: 150px; 
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */



/* FOOTER STUFF */

/* .footsies {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
   
}

.footsies p {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footsies h3{
    text-align: center;
    margin: 0;
    padding: 0;
}

.footsiesBtn {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8
}

.footer  {
    background-color: #1f2937;
    height: 100px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
} */